<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="/tikoAngular/">Etusivu</a></li>
            <li role="presentation"><a href="/tikoAngular/tyosuoritukset">Työsuoritukset</a></li>
            <li role="presentation"><a href="/tikoAngular/laskut">Laskut</a></li>
            <li role="presentation"><a href="/tikoAngular/uusiTyosuoritus">Uusi työsuoritus</a></li>
            <li role="presentation"><a href="/tikoAngular/uusiAsiakas">Uusi asiakas</a></li>
            <li role="presentation"><a href="/tikoAngular/uusiLasku">Uusi lasku</a></li>
        </ul>
    </div>

    <div class="col-md-10">
        <h2>{{teksti}}</h2>
    </div>
</div>

